.content-container {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.main-text {
    margin-top: 50px;
    color: orange;
    font-weight: bold;
    font-size: large;
}
.sub-text {
    color: #1b48fa;
    font-weight: bold;
    font-size: xx-large;
}

.navbar {
    background-color: #1b48fa;
    font-weight: bold;

}
.container-fluid {
    max-width: 70%;
    margin: 0 auto;
}
.nav-link {
    color: white;
}
.navbar-toggler {
    border: none;
}

/*carousel*/

.carousel{
    margin-top: 15px;
}
.carousel-container {
    display: flex;
    justify-content: center;
}

.carousel-item {
    position: relative;
    max-height: 600px;
}
.carousel-indicators .button {
    width: 100px;
    height: 5px;
    border-radius: 20px;
}
.carousel-indicators .active {
    background-color: orange
}
.carousel-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 255, 0.5), rgba(0, 0, 0, 0));
}
.carousel-item img{
    border-radius: 10px;
}

.carousel-inner {
    border-radius: 10px;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    color: #fff;
    text-align: center;
    max-width: 100%;
    width: 80%;
}

.carousel-caption div {
    font-size: xxx-large;
    font-weight: bold;
}
.carousel-caption h6 {
    margin-top: 10%;
}
.carousel-caption span{
    color: orange;
}
.carousel-item button {
    background-color: orange;
    color: white;
}
.carousel-item button:hover {
    background-color: orangered;
}

.carousel-indicators {
    margin-top: 20px;
}

@media (max-width: 991px) {
    .carousel-caption div {
        font-size: large;
    }
    .carousel-caption h6 {
        font-size: medium;
    }
}
@media (max-width: 576px) {
    .carousel-caption div {
        font-size: medium;
    }
    .carousel-caption h6 {
        font-size: small;
    }
    .carousel-item button {
        font-size: small;
    }
    .carousel-caption {
        top: 30%;
    }
    .carousel-indicators {
        display: none;
    }
}

/*activities*/

.card-group {
    margin-top: 20px;
}
.card-group .card {
    margin: 15px;
    border: none;
}
.card-footer {
    border: none;
}
.card-img-top {
    max-width: 50px;
    margin-top: 10px;
    margin-left: 10px;
}
.card-footer button {
    background-color: orange;
    border: none;
    font-weight: bold;
}
.card-footer button:hover {
    background-color: orangered;
}
